body{
    font-family: tahoma;
    color: #989898;
    background-image: url('bg9.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content-table{
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#content-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

#signupForm input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#fff;
    border: 0;
    text-align: center;
    float: left;
    font-size: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #e0e0e0;
}

#signupForm button{
    padding: 20px;
    float: left;
    width: 30%;
    background: #23282e;
    border: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}




ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}




.card {
  background: #fff;
  border-radius: 30px;
  display: inline-block;
  margin: 1rem;
  padding-top: 15px;
  position: relative;
  cursor: pointer;
  width: 300px;
  text-align: center;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  margin-right: 20px;
}

#card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
#card button:hover, a:hover {
  opacity: 0.7;
}
